= form_for @exhibition_information, @path do |f|
  - if @exhibition_information.errors.any?
    #error_explanation
      %h2= "#{pluralize(@exhibition_information.errors.count, "error")} prohibited this exhibition_information from being saved:"
      %ul
        - @exhibition_information.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :miniDescription
    = f.text_field :miniDescription
  .field
    = f.label :language
    = f.select(:language, [['Español', 'spanish'], ['Inglés', 'english']]) 
  .actions
    = f.submit 'Save'
