%h1.green Exhibiciones Permanentes


%br
= link_to 'Nueva Exhibicion', new_exhibition_path, class: "btn btn-default botonGreen"

%br
%br


%ul.list-group
  - @exhibitions.each do |exhibition|
    %li.list-group-item.exhibition-item
      .row
        .col-md-4 
          %img{:alt => "Smiley face", :height => "200", :src => exhibition.file_url, :width => "350"}/
        .col-md-6
          %h1.green= exhibition.name
          %h3= exhibition.miniDescription
        .col-md-2
          %br
          = link_to 'Ver', exhibition, class: "btn btn-default btn-block botonGreen" 
          %br
          = link_to 'Editar', edit_exhibition_path(exhibition), class: "btn btn-default btn-block botonGreen"
          %br
          = link_to 'Borrar', exhibition, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-default btn-block botonGreen"
          %br

