%h1 Listing pieces

%table
  %thead
    %tr
      %th Name
      %th Description
      %th Room
      %th Showcase
      %th Item
      %th
      %th
      %th
      %th

  %tbody
    - @pieces.each do |piece|
      %tr
        %td= piece.name
        %td= piece.description
        %td= piece.room
        %td= piece.showcase
        %td= piece.item
        %td= link_to 'Download', piece.file_url
        %td= link_to 'Show', exhibition_piece_path(piece.exhibition,piece)
        %td= link_to 'Edit', edit_exhibition_piece_path(piece.exhibition,piece)
        %td= link_to 'Destroy', exhibition_piece_path(piece.exhibition,piece), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Piece', new_exhibition_piece_path
