.jumbotron.exhibition-item
  = form_for @audioguide, @path do |f|
    - if @audioguide.errors.any?
      #error_explanation
        %h2= "#{pluralize(@audioguide.errors.count, "error")} prohibited this audioguide from being saved:"
        %ul
          - @audioguide.errors.full_messages.each do |msg|
            %li= msg

    .field
      %label Nombre
      = f.text_field :name, class: "form-control"
    .field
      %label Descripción
      = f.text_field :description, class: "form-control"
    .field
      %label Texto
      = f.text_area :text, class: "form-control"
    .field
      %label Audio
      = f.file_field :audio
    .field
      %label Foto
      = f.file_field :file
    .field
      %label KEY
      = f.text_field :key, value:0, class: "form-control"
    .field
      %label ID1
      = f.number_field :id1, value:0, class: "form-control"
    .field
      %label ID2
      = f.number_field :id2, value:0, class: "form-control"
    .actions
      = f.submit 'Guardar', class: "btn btn-success"
