.jumbotron.exhibition-item
  = form_for @audioguide, @path do |f|
    - if @audioguide.errors.any?
      #error_explanation
        %h2= "#{pluralize(@audioguide.errors.count, "error")} prohibited this audioguide from being saved:"
        %ul
          - @audioguide.errors.full_messages.each do |msg|
            %li= msg

    .field
      %label Nombre
      = f.text_field :name, class: "form-control"
    .field
      %label Descripcion
      = f.text_field :description, class: "form-control"
    .field
      %label Texto
      = f.text_area :text, class: "form-control"
    .field
      %label Audio
      = f.file_field :audio
    .field
      %label Foto
      = f.file_field :file
    .actions
      = f.submit 'Salvar', class: "btn btn-primary"
