%p#notice= notice

%p
  %b Name:
  = @audioguide.name
%p
  %b Description:
  = @audioguide.description
%p
  %b Text:
  = @audioguide.text
%p
  %b Audio:
  = @audioguide.audio
%p
  %b Exhibition:
  = @audioguide.exhibition

/ = link_to 'Edit', edit_audioguide_path(@audioguide)
/ \|
/ = link_to 'Back', audioguides_path
