%h1 Listing audioguide_informs

%table
  %thead
    %tr
      %th Name
      %th Description
      %th Text
      %th Language
      %th
      %th

  %tbody
    - @audioguide_informs.each do |audioguide_inform|
      %tr
        %td= audioguide_inform.name
        %td= audioguide_inform.description
        %td= audioguide_inform.text
        %td= audioguide_inform.language
        %td= link_to 'Edit', edit_exhibition_audioguide_audioguide_inform_path(Audioguide.find(params[:audioguide_id]).exhibition,audioguide_inform.audioguide,audioguide_inform)
        %td= link_to 'Destroy', exhibition_audioguide_audioguide_inform_path(Audioguide.find(params[:audioguide_id]).exhibition,audioguide_inform.audioguide,audioguide_inform), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Audioguide inform', new_exhibition_audioguide_audioguide_inform_path
